.jumbotron {
    background-color: rgb(233, 105, 58);
}

#cities {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#current-weather > img {
width:  300px;
height: 300px;
}